@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
/*GOOGLE FONTS*/

.slide {
  display: none;
}


/*Swiper Arrows */
.swiper-button-prev, .swiper-button-next {
  color: #535353 !important;
}
@media (max-width: 600px) {
  .swiper-button-prev, .swiper-button-next {
    --swiper-navigation-size: 30px;
  }
}

/*logo spin */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*underline effect */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #454545;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.2px;
  bottom: 0;
  left: 0;
  background-color: #454545;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* parallax image */
.parallax-image {
  aspect-ratio: 2/1;
}
@media (max-width: 900px) {
  .parallax-image {
    aspect-ratio: 1/2;
  }
}


/* dark mode */
.dark {
  background-color: #424242;
  border: 'solid 1px #b2b2b2';
  color: 'white'
}



/* color testing */
.colortest1 {
  color: #eaeaea;
}

.colortest2 {
  color: #ffffff51;
}


/*ANIMISTA EFFECTS */
.fade-in {
	-webkit-animation: fade-in .35s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in .35s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out {
	-webkit-animation: fade-out .35s ease-out both;
	        animation: fade-out .35s ease-out both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/**
* ----------------------------------------
* animation fade-out
* ----------------------------------------
*/
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}