
.slide {
  display: none;
}


/*Swiper Arrows */
.swiper-button-prev, .swiper-button-next {
  color: #535353 !important;
}


.colortest1 {
  color: #808080;
}

.colortest2 {
  color: #727d8a;
}

/*logo spin  (not working) */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}