
.slide {
  display: none;
}


/*Swiper Arrows */
.swiper-button-prev, .swiper-button-next {
  color: #535353 !important;
}

/*logo spin */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*underline effect */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #454545;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.2px;
  bottom: 0;
  left: 0;
  background-color: #454545;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}







.colortest1 {
  color: #808080;
}

.colortest2 {
  color: #efefef93;
}